<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue.js</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <h2>Todo list</h2>
        <form v-on:submit.prevent>
            <input type="text" name="" id="" v-model="newItem">
            <button v-on:click="addItem">add</button>

        </form>
        <!-- <pre>{{ $data}}</pre> -->
        <ul>
            <li v-for="(todo,index) in todos"> 
                <input type="checkbox" name="" id="" v-model="todo.isDone">
                <span v-bind:class="{done: todo.isDone}">{{ todo.item }}</span>
                <button v-on:click="deleteItem(index)">Delete</button>
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="script.js"></script>
</body>
</html>